.vertical-auto-scroll {
  overflow-y: auto;
}

.vertical-line-numbers {
  font-family: 'consolas';
  font-size: 18px;
}

#code-editor {
  font-family: 'consolas';
  font-size: 18px;

  background: transparent;

  border: none;
  border-style: none;
  border-color: transparent;

  outline: none;
  resize: none;

  overflow-x: auto;
  
  appearance: none;
  -webkit-appearance: none;
  -moz-apperarance: none;
  -ms-appearance: none;
  -o-appearance: none;
  
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}