#code-editor-container {
  overflow-y: auto;
}

.vertical-line-numbers {
  font-family: 'consolas';
  font-size: 18px;
  overflow-y: hidden;
  overflow-x: hidden;
}

#code-editor {
  font-family: 'consolas';
  font-size: 18px;

  background: transparent;

  border: none;
  border-style: none;
  border-color: transparent;

  outline: none;
  resize: none;
  
  overflow-wrap: normal;
  overflow-x: hidden;
  overflow-y: hidden;
  
  appearance: none;
  -webkit-appearance: none;
  -moz-apperarance: none;
  -ms-appearance: none;
  -o-appearance: none;
  
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}